body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: .9375rem;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  line-height: 1.5;
  color: #01200F;
  text-rendering: optimizeLegibility;
  background-color: #9EC5AB;
}

.darkgreen-bg {
  background-color: #01200F;
  color: #E5DADA;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

.light-h1 {
  font-size: 1.875rem;
  font-weight: 300;
}

.subtitle {
  font-size: 1.375rem;
  font-family: Open Sans, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
}

h2 {
  font-size: 1.6875rem;
  font-weight: 300;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.6875rem;
}

.read-more {
  display: block;
  color: #e31b23;
  text-decoration: underline;
}

.green {
  color: #082e3d;
}

.nav-item:first-child::before {
  content: "";
}

.nav-item::before {
  content: "\A0|\A0";
  text-decoration: none;
  display: inline-block;
}

.navigation {
  position: relative;
  padding-top: 30px;
}

.navigation .nav-item {
  color: #002642;
}

.navigation .logo {
  width: 122px;
}

.navigation .button-cta {
  position: absolute;
  right: 0;
  top: 15px;
}

.navigation .dropdown-menu {
  background-color: #fefcf3;
}

.lang-bar {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.lang-bar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang-bar .nav-item a {
  color: #ffffff;
  text-decoration: none;
}

.header-cta {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 1;
}

.button-cta {
  border-color: #ef8d92;
  color: #fff;
  background-color: #e31b23;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8125rem;
  padding: 12px;
  padding: .75rem;
}

.button-cta:hover {
  color: #fff;
  text-decoration: none;
}

.right-menu {
  position: fixed;
  right: 0;
  top: 40%;
  background-color: #104F55;
  padding: 10px;

}

.right-menu a {
  padding: 10px 0;
}

.right-menu a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.social-feed {
  max-width: 720px;
  margin: auto;
}

.juicer-feed h1.referral {
  display: none !important;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto 30px;
  text-align: center;
  white-space: nowrap;
}

iframe#instagram-embed-0 {
  min-width: 0 !important;
  height: 340px;
}

@media (max-width: 992px) {
  .navigation .nav-item::before {
    content: " ";
    text-decoration: none;
    display: inline-block;
  }

  h1 {
    font-weight: 400;
    font-size: 1.25rem;
  }

  .button-cta {
    font-size: 0.55em;
  }

  .social {
    max-width: 220px;
    margin: auto;
  }

  .header-cta {
    position: fixed;
    width: 150px;
    left: 100%;
    top: 30%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg) translateX(-50%);
  }
}